.div-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.061);
    margin-top: 0%;
    font-weight: lighter;
    font-size: 50px;
  }


.form-ecc{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0px 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0%;
}

.form-ecc input {
    margin: 4% 0%;
    padding: 5%;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form-ecc input:focus {
    outline: none;
    border-color: #8e44ad;
}

.f-d{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 60px;
}

.f-d input{
    margin-right: 10%;
}

.form-ecc-bt {
    margin: 4% 0%;
    padding: 5%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #8e44ad;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-ecc-bt:hover {
    background-color: black;
    color: antiquewhite;
}