.div-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.061);
    margin-top: 0%;
    font-weight: lighter;
    font-size: 50px;
  }
  
  .form-style {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2%;
  }
  
  .name-section {
    display: flex;
  }
  
  .form-style input {
    width: calc(50% - 1%);
    margin: 1%;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .form-style input:focus {
    outline: none;
    border-color: #8e44ad;
  }
  
  .form-style input[type="submit"] {
    width: 100%;
    margin-top: 2%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    background-color: #8e44ad;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .form-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-image label {
    margin-bottom: 5px;
  }
  
  .form-image input[type="file"] {
    display: none;
  }
  
  #profile-pic-preview {
    height: 260px;
    width: 260px;
    display: block;
    margin: 3% 0%;
  }
  
  .main-ds {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .ds1 {
    float: left;
    width: 50%;
  }
  
  .ds2 {
    float: right;
    width: 50%;
  }
  
  .email-pass{
    display: flex;
  }